<strong>Olá, {{ provider }}</strong>
<p>One of your appointments was cancelled. Check the details:</p>
<p>
  <stron>Client: </strong> {{ user }} <br />
    <stron>Date/ Time: </strong> {{ date }} <br />
      <small>
        The slot is avaiable to new appointments.
      </small>
</p>
